@layer components {
  .section {
    @apply pt-24 pb-16;
  }
  .section-subtitle {
    @apply pb-4  text-[15px] font-semibold uppercase tracking-[3px] text-blue-600;
  }
  .section-title {
    @apply pb-4  text-[32px] font-semibold leading-[150%] text-gray-900 dark:text-white sm:text-[42px];
  }
  .section-text {
    @apply text-[15px] font-medium leading-[180%] text-gray-600 dark:text-white;
  }

  .button {
    @apply flex h-[52px] items-center justify-center gap-x-4 rounded-lg bg-primaryColor py-4 px-10 font-semibold text-white;
  }

  .container {
    @apply mx-auto w-[calc(100%-3rem)] max-w-[1200px];
  }
}
.wrapper {
  position: relative;
  width: 100%;
}

.carousel {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.carousel-items {
  padding: 0 40px;
  transition: transform 0.3s ease;
}

.carousel-item {
  transition: all 250ms;
  position: relative;
}

.carousel-item:hover {
  transform: scale(1.2);
  z-index: 10;
}

@media (max-width: 640px) {
  .arrow-left,
  .arrow-right {
    display: none;
  }

  .carousel-items {
    padding: 0 10px;
  }

  .carousel-item {
    width: 200px;
  }
}

/* Animation for modal details */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fixed {
  animation: fadeIn 0.3s ease-in-out;
}
